<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="element_with_value" type="RockLib.Configuration.RockLibConfigurationSection, RockLib.Configuration" />
    <section name="element_with_attributes" type="RockLib.Configuration.RockLibConfigurationSection, RockLib.Configuration" />
    <section name="element_with_distinct_child_names" type="RockLib.Configuration.RockLibConfigurationSection, RockLib.Configuration" />
    <section name="element_with_multiple_children_with_the_same_name" type="RockLib.Configuration.RockLibConfigurationSection, RockLib.Configuration" />
    <section name="multiple_top_level_elements" type="RockLib.Configuration.RockLibConfigurationSection, RockLib.Configuration" />
  </configSections>

  <appSettings>
    <add key="Key100" value="Key100_Value"/>
  </appSettings>

  <element_with_value>
    <value>123</value>
  </element_with_value>

  <element_with_attributes>
    <widget foo="234" bar="345" />
  </element_with_attributes>

  <element_with_distinct_child_names>
    <gadget>
      <foo bar="456">
        <baz qux="567" />
      </foo>
      <garply>678</garply>
    </gadget>
  </element_with_distinct_child_names>

  <element_with_multiple_children_with_the_same_name>
    <sprocket>
      <foo>789</foo>
      <foo>890</foo>
      <bar>
        <baz qux="901" />
        <baz qux="012" />
      </bar>
    </sprocket>
  </element_with_multiple_children_with_the_same_name>

  <multiple_top_level_elements>
    <item foo="1234" bar="2345" />
    <item foo="3456" bar="4567" />
  </multiple_top_level_elements>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>